
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #aaaaaada;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .containerG {
            max-width: 1200px;
            margin: 50px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            margin-top: 0;
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input[type="text"], input[type="submit"] {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #3fc7e9;
            border-radius: 5px;
            font-size: 16px;
        }
        input[type="submit"] {
            background-color: #2fbde9;
            color: white;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #2cccd1;
        }